
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add your custom styles here, if needed */
    </style>
</head>
<body>

<div class="container mt-5">
    <a href="{% url 'ogrenci_ekle' %}" class="btn btn-warning">Add Student</a>
    <div class="row">
        {% for student in students %}   
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ student.email }}</p>
                    <p class="card-text"><strong>Department:</strong> {{ student.department.department_name }}</p>
                    <div class="border p-2">
                        <h5>Aldıgı dersler:</h5>
                        {% for class in student.classes.all %}
                            <p class="card-text">{{ class.class_name }}</p>
                        {% endfor %}
                    </div>
                    <a href="{% url 'edit' student_id=student.student_id %}" class="btn btn-primary">edit</a>
                    <a href="{% url 'sil' student_id=student.student_id %}" class="btn btn-danger">sil</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Add Bootstrap JS and Popper.js links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
